:root {
  --dark: rgb(48, 29, 89);
  --darkest: #231540; 
  --medium: rgba(81, 78, 166, 1);
  --light: rgba(119, 125, 242, 1);
  --lighest: #7e8ff2;
}

body{
  line-height: 1.4;
  margin: 0;
  width: 100%;
  background-color: rgba(148, 242, 242, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;

  /* Pattern*/
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23301d59' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h1{
  align-self: start;
  margin: 1rem 1rem;
  background-color: rgba(148, 242, 242, 0.4);
  border: 3px solid rgb(255, 255, 255);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  color: var(--medium);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
form{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea{
  width: 100%;
  color: var(--darkest);
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  height: 70%;
  border: 10px solid white;
  border-radius: 5px;
  resize: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.hidden{
  /*Only to be used when the element should not be accessible to screen readers!!*/
  display: none;
}

button {
  padding: 0;
  font: inherit;
  font-weight: 700;
  color: var(--medium);
  background-color: rgba(148, 242, 242, 0.4);
  cursor: pointer;
  margin-top: 1rem;
  border: 3px solid var(--medium);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: box-shadow 0.5s ease;
  width: 8rem;
  align-self: center;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: rgba(48, 29, 89, 0.651);
  color:#bff7f7;
  border-color: var(--dark);
  transform: scale(1.05); 
}

.hidden{
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  color: transparent;
}

.clear-button{
  border: 3px solid rgba(255, 0, 0, 0.651);
  color: rgba(255, 0, 0, 0.651);
  align-self: start;
}

.clear-button:hover{
  background-color: rgba(255, 0, 0, 0.651);
  color: white;
  border-color: rgba(255, 0, 0, 0.651);
}

.stats{
  display: flex;
  width: 60%;
  color: var(--dark);
  justify-content: space-around;
  border-top: 2px solid var(--medium);
  margin-top: 2rem;
  justify-self: center;
}

.words-container{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.words{
  background-color: rgba(148, 242, 242, 0.4);
  border: 2px solid var(--light);
  padding: 6px 8px;
  margin-right: 10px;
  border-radius: 3px;
  color: var(--dark);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: all 1s ease-in-out;
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: 1rem;
  position: relative;
}

.words:hover{
  cursor: pointer;
  /* padding: 8px 10px; */
}

.words .extras{
  visibility: hidden;
  margin: 0; 
  width: 100px;
  background-color:rgba(48, 29, 89, 0.9);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   border: 2px solid var(--lighest);
   padding: 5px;
   text-align: center;
   color: white;
   bottom: 50px;
   box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
   display: flex;
   flex-direction: column;
}

.words:hover .extras {
  animation: ease-in 1s;
  visibility: visible;
  max-height: 76px;
}


.bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgba(48, 29, 89, 0.9);
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(48, 29, 89, 0.9);
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}

